#home_container {
    display: flex;
    place-items: center;
    flex-direction: column;

    --a_bot_zero: 40px;
    --a_bot_50: 100px;
}

@media screen and (max-width: 1200px) {
    #home_container {
        --a_bot_zero: -20px;
        --a_bot_50: 40px;
    }
}

@media screen and (max-width: 992px) {
    #home_container {
        --a_bot_zero: -80px;
        --a_bot_50: -20px;
    }
}
