#gallery_container {
    margin-bottom: 50px;
}

#gallery {
    min-height: 600px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    gap: 20px;
    place-items: flex-start;
}

#testing_here {
    background-color: aliceblue;
    display: block;
    position: relative;
    /* column-count: 3; */
}

.gallery_column {
}

.block {
    display: block;
    padding: 20px;
    overflow: hidden;
    width: 300px;
    background-color: rgb(205, 240, 240);
}
.inner {
}
