.my_card {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.my_card h2 {
    font-weight: 600;
}

.my_card h3 {
    font-weight: 600;
}

.my_card * {
    text-align: center;
}
