.Cursor {
    z-index: 10;
    position: fixed;
    border-radius: 9px;
    background-color: rgb(241, 145, 145);
    opacity: 0.6;
    pointer-events: none;
    transition: transform 0.5s 0s, opacity 0.3s 0s;
}

.Cursor_pointer {
    transform: scale(2.5);
    opacity: 0.1;
    transition: transform 0.4s 0s, opacity 0.5s 0s;
}
