.glass_pink {
    background: linear-gradient(
        90deg,
        rgba(236, 209, 226, 0.4),
        rgba(230, 86, 167, 0.4),
        rgba(164, 66, 173, 0.4),
        rgba(226, 189, 231, 0.4)
    );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
