#three_glass_container {
    height: 800px;
    width: 80%;
    /* background-color: rgba(238, 238, 238, 0.411); */
    display: grid;
    place-items: center;
    position: relative;
}

#middle_glass {
    width: 80%;
    height: 80%;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
}

#middle_glass>* {
    flex: 1 1 0;
}

#middle_glass_left{
    flex: 0 1 130px;
    padding: 50px 0 0 50px;
    border-right: 8px double rgb(183, 164, 199);
}

#top_glass {
    width: 200px;
    height: 200px;
    right: 50px;
    top: -2%;
    border-radius: 15%;
    position: absolute;
    transform: translateZ(0);
}

#bottom_glass {
    width: 200px;
    height: 200px;
    left: 0;
    bottom: 2%;
    border-radius: 15%;
    position: absolute;
    z-index: -1;
    transform: translateZ(0);
    animation: bottom_glass_move 4s ease-in-out infinite;
}

@keyframes top_glass_move {
    0% {
        top: -4%;
    }
    50% {
        top: 0%;
    }
    100% {
        top: -4%;
    }
}

@keyframes bottom_glass_move {
    0% {
        left: -2%;
    }
    50% {
        left: 2%;
    }
    100% {
        left: -2%;
    }
}