#home_container {
    margin: 50px 0;
    height: 800px;
    width: 1400px;
    background-color: rgba(238, 238, 238, 0.411);
    display: grid;
    place-items: center;
    position: relative;
}

#middle_glass {
    width: 80%;
    height: 80%;
    border-radius: 40px;
}

#top_glass {
    width: 200px;
    height: 200px;
    right: 50px;
    top: -2%;
    border-radius: 15%;
    position: absolute;
}
