#greeting {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        135deg,
        rgba(251, 253, 253, 0.4),
        rgba(86, 201, 230, 0.4),
        rgba(73, 197, 160, 0.4),
        rgba(155, 116, 160, 0.4)
    );
    display: grid;
    position: fixed;
    place-items: center;
    grid-template-rows: minmax(auto, 35%) auto minmax(10%, auto);
    --background-minion: url("../../assets/minion-background.jpg");
    --background-banana: url("../../assets/repeat-banana.png");
}

#greeting::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-image: var(--background-banana);
    z-index: -1;
    opacity: 0.3;
}

#greeting_title {
    margin: 0;
    text-align: center;
    z-index: 1;
}

.greeting_circle {
    border-radius: 50%;
    width: 35%;
    min-width: 280px;
    display: inline-flex;
    place-items: center;
    justify-content: center;
}

.greeting_circle::before {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#outer_circle {
    animation-name: spin2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#inner_circle {
    animation-name: spin;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 60%;
    min-width: 0px;
    background-color: rgba(175, 255, 251, 0.384);
    background-image: url("../../assets/banana4.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid rgb(182, 224, 216);
    cursor: pointer;
    place-items: center;
}

#inner_circle::after {
    content: "";
    background: linear-gradient(135deg, hsl(180, 51%, 85%), hsl(180, 45%, 78%), hsl(236, 59%, 87%), hsl(295, 80%, 90%));
    border-radius: 50%;
    width: 0%;
    padding-bottom: 0%;
    transition: 1s;
}

#inner_circle:hover:after {
    width: 100%;
    padding-bottom: 100%;
}

#inner_circle p {
    text-align: center;
    font-size: 3rem;
    position: fixed;
    visibility: hidden;
    opacity: 0;
}

#inner_circle:hover p {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.background_minion {
    transform: rotate(-15deg);
    position: fixed;
    top: 15vh;
    left: 15vw;

    height: 30%;
    min-height: 200px;
    width: 30%;
    min-width: 200px;

    background-image: var(--background-minion);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
