#content {
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    padding: 0 150px;
}

@media screen and (max-width: 1200px) {
    #content{
        padding: 0 100px;
    }
    
}

@media screen and (max-width: 768px) {
    #content{
        padding: 0 50px;
    }
}

@media screen and (max-width: 575px){
    #content{
        padding: 0 20px;
    }
}
