footer {
    display: flex;
    flex-direction: column;
    --min_height: 150px;
    --text_height: 40%;
    place-content: center;
    place-items: center;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(49, 49, 49, 0.76);
    color: white;
    border-top: 4px solid rgba(255, 255, 255, 0.664);
    border-image: linear-gradient(
            110deg,
            hsl(345, 100%, 85%),
            hsl(271, 100%, 91%),
            hsl(342, 100%, 67%),
            hsl(0, 0%, 100%)
        )
        10% 0 0 0;
}

#animation {
    min-height: var(--min_height);
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    width: 100%;
}

#animation > h3 {
    text-align: center;
    width: 12rem;
    border-bottom: 3px dotted violet;
    padding: 10px 0;
    margin: 0;
}

#animation_container {
    height: 100px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#animation_gif {
    background: url("../../assets/minionBomb.gif") no-repeat center/contain;
    height: 100%;
    width: 300px;
    position: absolute;
    left: -50%;
    animation: footer_animation 20s linear infinite;
}

.footer_d_container {
    display: flex;
    flex-direction: row;
    width: calc(100% - 50px);
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--g_max_header_width);
    box-sizing: border-box;
    margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
    #animation_gif {
        animation: footer_animation 7s linear infinite;
    }
}

@media screen and (max-width: 768px) {
    .footer_d_container {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }
}

.footer_d_container > * {
    flex: 1 1 0;
    border: 2px solid black;
    height: var(--min_height);
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    place-content: flex-start;
    place-items: center;
    padding: 0 30px;
    min-height: var(--min_height);
}

#social_media img {
    margin: 0 5px;
}

.footer_d_container h3 {
    text-align: center;
    margin-bottom: 0.25rem;
    margin-top: 1.75rem;
}

.footer_d_container p {
    min-height: var(--text_height);
    display: flex;
    place-items: center;
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
}

.footer_d_container > div > div {
    min-height: var(--text_height);
    display: flex;
    place-items: center;
}

@keyframes footer_animation {
    0% {
        left: -25%;
    }
    100% {
        left: 100%;
    }
}
