.header {
    height: 25px;
    margin: 0;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 4px solid rgba(255, 255, 255, 0.664);
    border-image: linear-gradient(
            135deg,
            hsla(180, 51%, 85%, 0.356),
            hsl(180, 54%, 75%),
            hsla(235, 34%, 78%, 0.918),
            hsla(296, 80%, 90%, 0.329)
        )
        0 0 30;
}

.header_container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    grid-template-columns: auto 1fr auto;
    width: calc(100% - 50px);
    height: 100%;
    max-width: var(--g_max_header_width);
    box-sizing: border-box;
}

.header_container > * {
    display: flex;
    place-items: center;
}

.header_left {
}

.header_right * {
    color: black;
    margin: 0 15px;
}

.header_right a {
    text-decoration: none;
    opacity: 0.5;
    transition: 0.5s;
    transition-timing-function: ease-out;
}

.header_right a:hover {
    opacity: 1;
}

.header_link_current_page {
    opacity: 1 !important;
    cursor: default;
    pointer-events: none;
}

#header_logo {
    /* max-height: 100%;
    max-width: 100%; */
}

.hamburger_container * {
    display: none;
}

.nav_bar_cross {
    display: none;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .header_container {
        padding: 0 10px;
    }

    .header_right * {
        display: none;
    }
    .hamburger_container {
        display: flex;
        place-content: flex-end;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 4px;
        place-items: flex-end;
    }

    .hamburger_line {
        display: block;
        background-color: hsla(295, 75%, 30%, 0.4);
        width: 35px;
        height: 5px;
    }

    .first_line {
        width: 25px;
    }

    .header_right {
        position: fixed;
        top: 0;
        right: -110%;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
        transition: 0.7s ease-in;
    }

    .header_right_active {
        z-index: 9999;
        position: fixed;
        top: 0;
        right: 0%;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        background-color: rgb(187, 255, 232);
        place-content: center;
        transition: 0.5s ease-out;
    }
    .header_right_active * {
        display: flex;
        place-items: center;
        flex: 0 0 80px;
        text-decoration: none;
        color: black;
        pointer-events: auto;
        place-content: center;
    }
}
