.header {
    height: 45px;
    margin: 0;
    width: 100vw;
    padding: 10px 0;
}

.header_container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    grid-template-columns: auto 1fr auto;
    width: calc(100% - 50px);
    height: 100%;
    max-width: var(--g_max_header_width);
    box-sizing: border-box;
}

.header_container > * {
    display: flex;
    place-items: center;
}

.header_left {
}

.header_right * {
    color: black;
    margin: 0 15px;
}

.header_right a {
    text-decoration: none;
    opacity: 0.5;
    transition: 0.5s;
    transition-timing-function: ease-out;
}

.header_right a:hover {
    opacity: 1;
}

.header_link_current_page {
    opacity: 1 !important;
}

#header_logo {
    max-height: 100%;
    max-width: 100%;
}

@media screen and (max-width: 500px) {
    .header_right a {
        display: none;
    }
}
