.header {
    height: 45px;
    margin: 0;
    width: 100vw;
    padding: 10px 0;
}

.header_container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    grid-template-columns: auto 1fr auto;
    width: calc(100% - 50px);
    height: 100%;
    max-width: 938px;
}

.header_container>* {
    display: flex;
    place-items: center;
}

.header_left{
    width: 150px;
}

.header_right * {
    color: black;
    margin: 0 15px;
}

.header_right a {
    text-decoration: none;
    opacity: .5;
    transition: .5s;
    transition-timing-function: ease-out;
}

.header_right a:hover {
    opacity: 1;
}

.header_link_current_page {
    opacity: 1 !important;
}

#header_logo{
    max-height: 100%;
    max-width: 100%;
}