.main_grid_container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    background: linear-gradient(
        135deg,
        rgba(251, 253, 253, 0.4),
        rgba(86, 201, 230, 0.4),
        rgba(73, 197, 160, 0.4),
        rgba(155, 116, 160, 0.4)
    );
}

#content {
    border: 5px solid black;
}

#footer {
    border: 5px solid black;
    height: 30px;
}
