.btn_container {
    position: fixed;
    top: 70%;
}

.btn {
    background-color: hsl(161, 47%, 90%);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20%/ 45%;
    cursor: pointer;
    transition: 0.5s;
    transition-timing-function: ease-out;
    color: #113026;
    display: grid;
    place-items: center;
    font-size: 1rem;
    transition: 0.5s;
}

/* .btn:hover {
    background-color: hsl(161, 47%, 70%);
} */
