#greeting {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        135deg,
        rgba(236, 209, 226, 0.4),
        rgba(86, 201, 230, 0.4),
        rgba(73, 197, 160, 0.4),
        rgba(226, 189, 231, 0.4)
    );
    display: grid;
    position: fixed;
    place-items: center;
}

#greeting_title {
    margin: 0;
    text-align: center;
    z-index: 1;
}

.greeting_circle {
    border-radius: 50%;
    width: 35%;
    min-width: 300px;
    display: inline-flex;
    place-items: center;
    align-items: center;
    justify-content: center;
}

.greeting_circle::before {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#outer_circle {
    animation-name: spin2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-bottom: 5%;
}

#inner_circle {
    animation-name: spin;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 60%;
    min-width: 0;
    background-color: rgba(175, 255, 251, 0.384);
    background-image: url("./assets/banana4.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(113, 236, 210);
}

.background_minion {
    transform: rotate(-15deg);
    position: fixed;
    top: 10vh;
    left: 15vw;
    height: 30%;
    min-height: 200px;
    width: 30%;
    min-width: 200px;
    background-image: url("./assets/banana1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
