body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: var(--background-color);
  --g_resize_width: 768px;
  --g_max_header_width: 938px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.btn,
p,
div,
a {
  font-family: "Montserrat";
}

.small_icon {
  max-width: 36px;
  max-height: 36px;
}

